.main {
  flex: 1 1 auto;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: calc(100vh - 64px);
}

.mainInner {
  margin: 0 auto;
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  height: inherit;
}
